

#titulo{
    width:400px;
    height:200px;
    position:fixed;
    top:05%;
    left:40%;
    margin-top:-10px;
    
    }


#centro {
    width:400px;
    height:400px;
    position:fixed;
    top:30%;
    left:40%;
}

#tabela{
    width:400px;
    height:400px;
    position:fixed;
    top:30%;
    left:40%;
    
}
  