

#titulo{
    width:400px;
    height:200px;
    position:fixed;
    top:05%;
    left:40%;
    margin-top:-10px;
    margin-left:-50px;
}


#centro {
    width:400px;
    height:400px;
    position:fixed;
    top:50%;
    left:40%;
    margin-top:-50px;
    margin-left:-50px;
}

#tabela{
    width:400px;
    height:400px;
    position:fixed;
    top:50%;
    left:40%;
    margin-top:-50px;
    margin-left:-50px;   
}
  